.routeCalculatorContainer {
  z-index: 1;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  opacity: 0.99;
}

.row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.calcTypeSelectorButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 2px solid #2980b9;
  cursor: pointer;
  border-radius: 5px;
  color: #2980b9;
  background-color: white;
}

.calcTypeInfo {
  font-size: 15px;
  color: #2980b9;
  margin-left: 55px;
  margin-bottom: -12px;
}

.vehicleTypeInfo {
  font-size: 15px;
  color: #ec7063;
  margin-left: 55px;
  margin-bottom: -12px;
}

.activeCalcTypeButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #2980b9;
}

.activeVehicleTypeButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #ec7063;
}

.vehicleTypeSelectorButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 2px solid #ec7063;
  cursor: pointer;
  border-radius: 5px;
  color: #ec7063;
  background-color: white;
}

.dataInput {
  outline: none;
  font-size: 14px;
  padding: 2px;
  width: 50px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #3c4a851a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.label {
  margin-left: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.calculateButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.calculateButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #52be80;
}

.calculateButton:hover {
  border: 2px solid #52be80;
  cursor: pointer;
  color: #52be80;
  background-color: white;
}

.calculationDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.totalCost {
  color: rgba(0, 0, 0, 0.5);
  align-self: center;
  margin: 5px;
}

.resetButton {
  outline: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 200px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #99a3a4;
}

.resetButton:hover {
  border: 2px solid #99a3a4;
  cursor: pointer;
  border-radius: 5px;
  color: #99a3a4;
  background-color: white;
}
