.routeCalculatorContainer {
  z-index: 1;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  opacity: 0.9;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  outline: none;
  font-size: 20px;
  padding: 10px;
  border: 2px solid transparent;
  color: #6274d6;
  cursor: pointer;
  background-color: #3c4a851a;
  border-radius: 5px;
}

.distanceInput {
  font-size: 20px;
  padding: 2px;
  width: 60px;
  height: 30px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}
